body {
  background-color: whitesmoke;
}

.container {
  padding: 1.6rem;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  background-color: white;
}

.header {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: flex-end;
}
